@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.scoreboard {
	float: left;
	position: absolute;
	margin: 10px;
	padding: 20px;
	font-family: 'Open Sans';
	line-height: 1.5em;
	background: #eee;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
}

.enemy {
/*  r: 20px;*/
  fill: url(#image);  
}

#player {
  r: 20px;
  fill: url(#grad1);
  shape-rendering: optimizeSpeed;  
}

.helpDesk {
  right: 0;
  position: fixed;
}

#pacman {
  fill: url(#pacmanImage); 
  right: 0;
  position: fixed;
  /*display: none;*/
  r: 20px;

}
